<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">My Five Star</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Logout</button>
  </form>
</nav>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <h2 ml-1 style="margin-left: 50px;">FASHION</h2>
    <a href="/fashions" class="stretched-link"></a>
    </div>

    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <h2 ml-1 style="margin-left: 75px;">FOOD</h2>
    <a href="/foods" class="stretched-link"></a>
    </div>

    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <h2 ml-1 style="margin-left: 75px;">PLACE</h2>
    <a href="/places" class="stretched-link"></a>
    </div>

    <div class="col-md-2" style="background-color:black;">
    </div>
    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <h2 ml-1 style="margin-left: 75px;">MUSIC</h2>
    <a href="/musics" class="stretched-link"></a>
    </div>

    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <h2 ml-1 style="margin-left: 75px;">VIDEO</h2>
    <a href="/videos" class="stretched-link"></a>
    </div>

    <div class="col-md-2" style="background-color:black;">
    </div>
  </div>
</div>