<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">My Five Star</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Logout</button>
  </form>
</nav>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <p ml-1 style="margin-left: 100px;">FASHION</p>
    <a href="#" class="stretched-link"></a>
    </div>

    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <p ml-1 style="margin-left: 100px;">FOOD</p>
    <a href="#" class="stretched-link"></a>
    </div>

    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <p ml-1 style="margin-left: 100px;">PLACE</p>
    <a href="#" class="stretched-link"></a>
    </div>

    <div class="col-md-2" style="background-color:black;">
    </div>
    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <p ml-1 style="margin-left: 100px;">MUSIC</p>
    <a href="#" class="stretched-link"></a>
    </div>

    <div class="col-md-4" style="background-color:black;">
    <%= image_tag 'star2.png'%>
    <p ml-1 style="margin-left: 100px;">VIDEO</p>
    <a href="#" class="stretched-link"></a>
    </div>

    <div class="col-md-2" style="background-color:black;">
    </div>
  </div>
</div>