<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">My Five Star</a>
  <form class="form-inline">
    <a class="btn btn-outline-secondary my-2 my-sm-0 mr-1" type="submit", href="/">Back</a>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary my-2 my-sm-0" %>
  </form>
</nav>

 <div class="container mt-5 ">
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
              <img src = <%= @food.image %> >
              <h3 class="card-title mt-3"> Title : <%= @food.title %> </h3>
              <h4 class="card-story mt-3">Story : <%= @food.story %></h4>
              <h5 class="card-url mt-3">URL : <%= @food.url %></h5>
            </div>
          </div>
        </div>
      </div>